/* Styles para o seu ReviewFormComponent */
form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin: 10px 0;
  }

/* Estilos para centralizar o modal */
.mat-dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-dialog-content {
    width: 100%;
    max-width: 600px; /* Ajuste conforme necessário */
  }
  
  
  button {
    align-self: flex-end;
  }
  
  .review-form {
    display: flex;
    flex-direction: row; /* Alinha os campos do formulário horizontalmente */
    gap: 24px; /* Espaçamento entre os campos */
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaçamento entre os campos do formulário */
    flex: 1; 
  }
  
  mat-form-field {
    width: 100%; /* Faz com que os campos ocupem o espaço disponível */
  }