

/* Outras regras de estilo */
html, body {
  height: 100%;
}

.custom-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Ajuste conforme necessário */
    width: 80vw; /* Ajuste conforme necessário */
    max-width: 2000px; /* Define uma largura máxima para o modal */
  }
  
  .mat-dialog-container {
    display: flex;
    flex-direction: row; /* Alinha os elementos do modal horizontalmente */
    justify-content: center;
    align-items: center;
    height: auto; /* Ajuste a altura conforme necessário */
  }