.books-container {
  display: flex;
  justify-content: center; /* Centraliza o container de livros */
  padding: 16px;
}

.books-wrapper {
  max-width: 800px; /* Largura máxima do container de livros */
  width: 100%;
}

.book-card {
  display: flex;
  align-items: flex-start; /* Alinha a capa e os detalhes ao topo do cartão */
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px; /* Espaçamento entre os cartões */
  max-width: 100%; /* Garante que o cartão não exceda a largura do container */
}

.book-cover {
  width: 80px; /* Largura fixa da capa */
  height: 120px; /* Altura fixa da capa */
  border-radius: 4px;
  margin-right: 16px; /* Espaçamento entre a capa e os detalhes */
}

.book-details {
  flex: 1; /* Faz com que o container de detalhes ocupe o espaço restante */
  display: flex;
  flex-direction: column;
}

.book-details h3 {
  margin: 0 0 8px 0;
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
}

.book-details p {
  margin: 4px 0;
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

.book-details a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.book-details a:hover {
  text-decoration: underline;
}


  